<%- include('partials/header') %>

  <div class="jumbotron centered">
    <div class="container">
      <h1 class="text-4xl font-bold mb-4">Welcome To Soham's Web Services</h1>
      <p class="text-lg mb-8">We provide 2 kinds of services</p>
      <a class="Service1-button" href="/service1">Service 1 (Social Media)</a>
      <a class="Service2-button" href="/service2">Service 2 (News Site)</a>

    </div>
  </div>

  <!-- <div class="jumbotron bg-gray-200 py-16">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold mb-4">Welcome To Soham's Web Services</h1>
      <p class="text-lg mb-8">We provide 2 kinds of services</p>
      <a class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4"
        href="/service1">Service 1 (Social Media)</a>
      <a class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        href="/service2">Service 2 (News Site)</a>
    </div>
  </div> -->


  <%- include('partials/footer') %>