<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Service 2</h1>
      <h3>Hii <%=details.name%></h3>
      <h3>Your Birthday is on :<%=details.dob.slice(0,10)%></h3>
      <h3 class="secret-text">News Site</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ad cupiditate minima aperiam odio quos animi sunt
        earum natus inventore assumenda quis deleniti expedita optio adipisci error voluptas quidem quaerat ipsa
        laboriosam, asperiores non doloribus omnis soluta? Exercitationem corporis laborum voluptas explicabo debitis
        tempora reiciendis impedit deleniti voluptatum veniam autem, repellat error placeat iure accusamus quae
        obcaecati pariatur dolores incidunt blanditiis praesentium. Ab atque officiis eaque fuga tenetur repellendus
        explicabo! Nam, dolorum quia! Aut aperiam accusamus architecto modi magni quo facilis placeat officiis! Nostrum,
        quisquam, illum illo porro vitae explicabo ipsa blanditiis sit natus ad placeat libero obcaecati numquam officia
        consequatur, non ducimus! Ipsam optio atque molestiae vel, quaerat inventore eius laboriosam molestias facilis
        doloremque quibusdam debitis quos nihil, doloribus consectetur nesciunt vero fugit quisquam similique
        reiciendis. Maxime hic dolor, suscipit soluta labore ipsa ratione quisquam tempore. Dolore libero consectetur
        ipsam, necessitatibus deserunt nisi exercitationem ipsa et adipisci sequi tenetur sunt in, qui, eos quidem
        optio. Aliquid dolore dolorum sit neque culpa fuga dolores repellat magnam recusandae fugit provident, rerum
        adipisci nobis? Aliquid accusamus quod odit velit, ipsum inventore! Fugiat delectus, veritatis debitis
        voluptatum fuga dolore. Totam nam et modi, illum fugit incidunt amet commodi odit sapiente labore nisi repellat
        ut nihil consequatur ad rerum voluptas distinctio nulla voluptatem eius praesentium! In possimus est perferendis
        labore dicta porro et quod mollitia quas eos. Debitis assumenda voluptate dolorum aliquid rerum neque commodi
        quasi nam doloremque. A modi tempora aliquid saepe optio eaque ea commodi illum excepturi iste harum odit,
        molestias facilis. Illum, reprehenderit, tenetur, harum similique culpa eos quam magni doloremque officia odit
        illo provident consequuntur! Blanditiis eaque odio accusamus magni, iure perspiciatis reiciendis facere deleniti
        placeat voluptates pariatur in quia minima tempore nulla exercitationem provident ipsum soluta inventore ab iste
        velit? Dolores unde, adipisci sint doloribus nulla itaque ad maiores officia totam explicabo, earum est
        repellendus repellat eligendi laudantium atque sit minus architecto et cumque. Aliquid expedita minima veniam,
        quidem perferendis provident sed sapiente corrupti minus beatae dolorum. Illo dignissimos ab veritatis, deleniti
        aspernatur ipsum consequatur fugit totam inventore libero officiis at voluptate sapiente dolor autem praesentium
        dolorem natus ipsam. Doloribus aliquam facere aut vel, veniam eius quia recusandae consequatur ratione alias!
        Quidem saepe reiciendis assumenda quia suscipit. Nulla quidem inventore veniam eius, minus fugit nostrum tempore
        magnam cum temporibus corporis unde illo quibusdam quod amet totam in iste possimus dolore quaerat qui doloribus
        incidunt quia. Quos dolorem earum, incidunt ducimus architecto ipsa sit ratione eius corporis? Quam optio labore
        dignissimos libero vel nobis assumenda. Itaque voluptas architecto molestiae culpa. Quidem voluptatibus odit
        recusandae excepturi consequuntur vel quos eveniet consectetur, debitis laborum earum, veniam animi accusamus
        porro. Exercitationem magnam quod autem nihil laboriosam, fugit rem quae voluptatibus quaerat cumque numquam
        alias consequuntur quas, ratione eligendi, perferendis dolore impedit excepturi animi libero dolores. Obcaecati
        libero debitis ratione cum ut nulla minus fugit, non dignissimos eaque quos? Error expedita maiores laudantium
        cupiditate quae eius libero! Fugiat excepturi quae impedit nostrum laborum id odit at? Consectetur debitis,
        beatae reprehenderit molestiae expedita perferendis dolorem.</p>
      <hr />
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>