<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
      <h1 class="display-3">Service 1</h1>
      <h3 class="secret-text">Social Media</h3>
      <h4>Hii <%=details.name %>
      </h4>
      <h4>Contact Details : <%=details.number %>
      </h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea architecto nisi quidem quod, voluptate laudantium
        dolor officiis, impedit vero, harum fugiat quaerat eius molestias obcaecati vel iusto inventore est porro sit
        labore illum. Vero atque exercitationem, quibusdam dignissimos aliquid, architecto dolorum autem neque obcaecati
        eius possimus nam illo perspiciatis quas non, nemo ipsum sed accusamus repudiandae quos? Adipisci dicta maiores
        nulla fugiat libero, ut soluta quia error non reprehenderit expedita labore, et iusto, veniam dolorum earum. Sed
        mollitia fugiat provident ex quam. Labore, aut deleniti perferendis voluptatem dolor est repudiandae in numquam
        fuga ratione? Sint commodi necessitatibus ea nobis id numquam architecto minus culpa reiciendis ab molestiae
        libero sequi illum quam ad possimus dicta labore impedit, explicabo iusto eligendi? Eligendi deserunt nam ut
        dolore fugiat. Recusandae adipisci mollitia vero provident maiores minus nihil impedit doloribus dolorum dolorem
        asperiores eveniet similique corrupti ex, debitis quasi. Eaque corporis fugit optio reiciendis dicta distinctio
        perferendis harum quaerat hic esse? Ab exercitationem doloremque quis fuga. Quos accusamus quod at illo qui
        facere quaerat omnis accusantium quisquam odio temporibus nobis nulla non veniam corrupti expedita fuga facilis,
        reprehenderit quis eius. Repellat sit alias voluptatum nihil cumque veniam architecto eligendi totam neque
        voluptate. Iusto quas cumque ipsum modi quaerat at saepe in voluptate corporis dolorem. Mollitia distinctio
        explicabo beatae fuga modi incidunt sapiente veritatis voluptatum numquam dolor itaque eius atque pariatur,
        odio, maxime nobis quo reiciendis sint, nisi tempore. Facere distinctio architecto voluptatum, quas incidunt non
        praesentium dolore quaerat minima magni aspernatur aut consequatur modi qui exercitationem, laborum dolorem.
        Ipsam dolores rerum facere aliquam? Pariatur nihil, repudiandae delectus placeat consequatur esse numquam
        quaerat quas accusamus nisi rem quos iusto, earum voluptates reiciendis culpa inventore eius facilis eligendi.
        Cum quaerat nihil consequuntur quidem asperiores, hic ratione ducimus iste officiis amet vel debitis ipsa
        tenetur magni animi cupiditate quia architecto quos non necessitatibus distinctio maiores! Tenetur atque soluta
        natus dolorem officia est distinctio, ullam error expedita in suscipit at quisquam velit! Quos a iure ullam
        recusandae hic accusamus reprehenderit doloremque modi dolorum vel molestias, totam excepturi tempora quae
        consequatur facilis, ratione et ut quia blanditiis aliquam dicta labore quaerat? Assumenda maxime nihil nobis
        ipsam minus qui tempore dolor porro in dicta beatae non quis sit consectetur ab quia, deleniti, praesentium
        laborum ratione eligendi dignissimos culpa officia nam laboriosam! Obcaecati, sequi esse voluptatem, distinctio
        consequatur harum unde soluta, natus rerum molestiae illum perferendis laborum labore. Corporis et voluptatibus
        eveniet, rerum laborum delectus cum consectetur eum, magni labore accusamus inventore quisquam culpa, nulla
        debitis incidunt sit beatae cumque. Qui corrupti nemo fugit quia numquam id eveniet saepe, illo assumenda alias
        doloremque placeat, vel temporibus delectus? Commodi obcaecati soluta illum placeat dolorum reprehenderit nam
        illo aut a eos ipsa officia enim maxime distinctio ea deserunt architecto natus, id vitae! Ex reiciendis qui
        molestiae fugiat repudiandae, odit, fugit veniam, asperiores sapiente ratione atque officia inventore placeat
        accusantium ab? Libero similique culpa quae expedita eius voluptatibus aliquam itaque inventore asperiores et,
        consequatur possimus beatae ratione voluptates vero excepturi rem omnis exercitationem, harum placeat!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>